<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signin Template for Bootstrap</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Bootstrap core -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="container">
        <form class="form">
            <h2 class="form-heading">Generate Token</h2>
            <label for="inputExpiry">Token Expiry (days)</label>
            <input type="text" id="inputExpiry" class="form-control" value="1" required autofocus>
            <button id="buttonGenerate" class="btn btn-lg btn-primary btn-block" type="button">Generate</button>
        </form>
    </div> <!-- /container -->

    <div id="token" style="word-wrap: break-word;"></div>

    <script>
		$(document).ready(function(){
		  $("#buttonGenerate").click(function(e){
			  e.preventDefault();
			  $.ajax({type: "POST",
					url: "/oauth/token",
					data: { grant_type: "client_credentials", expiry: $("#inputExpiry").val() + ".00:00:00" },
					success: function(result){
					    $("#token").html(result.access_token);
			  }});
		  });
		});
    </script>
</body>
</html>